.App {
  text-align: left;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}



.btn-flat {
  background-color:#b9dbf1;
  color: white;
  margin-left: 130px;
  margin-top: 30px;
  position: relative;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.btn-xxl {
  padding: 0.7rem 1.5rem;
  font-size: 0.95rem;
  font-family: Trebuchet MS, sans-serif;
  font-style: inherit;
  font-weight: 700;
}

body {
  height: 125vh;
  background-size: cover;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 00;
  color: rgb(102, 119, 119);
}

form{
  padding: 30px 20px 30px 20px;
}
.heading{
  font-weight: 600;
  color:rgba(0, 0, 0, 0.678);
  margin-left: 140px;
}
span{
  color: red;
  font-family: monospace;

}

table{
  margin-top: 70px;
  width: 450px;
  
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
}

